body {
    margin: 0;
    height: 100%;
    /* background-color: aquamarine; */
    background-image: url("desktop.png");
}

.main-window {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 400px;
    background-color: #e9ebdf;
}

#secondary-color {
    background-color:#185de5;
}